$CELL_SIZE: 38px;
$CELL_SMALL_SIZE: 28px;
$WHITE: #fff;
$GRAY: gray;
$BLACK: #000;
$RED: red;
$GREEN: green;

#grid-board {
    margin: 20px 0;
}

.row-board {
    text-align: center;
    height: $CELL_SIZE;
    width: fit-content;
    display: flex;
    margin: auto;
}

.cell-board {
    width: $CELL_SIZE;
    height: $CELL_SIZE;
    background-color: $GRAY;
    border: 1px solid $BLACK;
}

@media screen and (max-width: 1500px) {
    .row-board {
        height: $CELL_SMALL_SIZE;
    }

    .cell-board {
        width: $CELL_SMALL_SIZE;
        height: $CELL_SMALL_SIZE;
    }
}